<!-- Exam Helper -->
    <section id="title">
        <div class="px-4 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold">Exam Helper</h1>
            <div class="col-lg-6 mx-auto border-bottom">
                <p class="lead mb-4">
                    Believe in yourself, stay sharp, and crush this quiz!
                </p>
            </div>
        </div>
    </section>

    <!-- Main Exam Helper -->
    <section id="main">
        <div class="container d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <form>
                    <div class="mcq border-bottom mb-5">
                        <fieldset id="mcq1" class="p-5 bg-light">
                            <p class="h4 mb-4">1. What is metabolism?</p>
                            <div class="form-check bg-success text-white py-3 ps-5">
                                <input class="form-check-input" type="radio" name="mcq1" id="radioDefault1"  checked>
                                <label class="form-check-label" for="mcq1">
                                    A. The breakdown of DNA
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq1" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq1">
                                    B. The process of cell division
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq1" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq1">
                                    C. All chemical reactions in the body
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq1" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq1">
                                    D. Only the digestion of food
                                </label>
                            </div>
                            <p class="mt-4"><em><b>Answer:</b> A</em></p>
                        </fieldset>
                        <div class="explaination p-2 m-4">
                            <p class="display-6">Explaination</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                        </div>
                    </div>

                    <div class="mcq border-bottom mb-5">
                        <fieldset id="mcq2"  class="p-5 bg-light">
                            <p class="h4 mb-4">2. Which of the following processes is anabolic?</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq2" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq2">
                                    A. Glycolysis
                                </label>
                            </div>

                            <div class="form-check bg-success text-white py-3 ps-5py-3 ps-5">
                                <input class="form-check-input" type="radio" name="mcq2" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq2">
                                    B. Protein synthesis
                                </label>
                            </div>

                            <div class="form-check bg-danger text-white py-3 ps-5py-3 ps-5">
                                <input class="form-check-input" type="radio" name="mcq2" id="radioDefault1" checked>
                                <label class="form-check-label" for="mcq2">
                                    C. Beta-oxidation
                                </label>
                            </div>

                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="mcq2" id="radioDefault1" disabled>
                                <label class="form-check-label" for="mcq2">
                                    D. Fermentation
                                </label>
                            </div>
                            <p class="mt-4"><em><b>Answer:</b> B</em></p>
                        </fieldset>
                        <div class="explaination p-2 m-4">
                            <p class="display-6">Explaination</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                        </div>
                    </div>
                    <div class="d-grid col-6 mx-auto ">
                        <input type="submit" class="btn btn-danger" value="Download Results">
                    </div>
                </form>

            </div>
        </div>
    </section>
