<%- include('partials/header.ejs') %>

 <!-- Exam Helper -->
    <section id="title">
        <div class="px-4 pt-5 my-5 text-center">
            <h1 class="display-4 fw-bold">Exam Helper</h1>
            <div class="col-lg-6 mx-auto border-bottom">
                <p class="lead mb-4">
                    Believe in yourself, stay sharp, and crush this quiz!
                </p>
            </div>
        </div>
    </section>

    <!-- Main Exam Helper -->
    <section id="main">
        <div class="container d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <form>
                    <div class="border-bottom mb-5">
                        <fieldset class="p-5 bg-light">
                            <div class="container">
                                <p class="mb-4 text-start text-wrap fs-4">Q1. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                                <p class="mt-4 text-end fw-bold fs-6"><em>Marks 5</em></p>
                            </div>
                            
                            <label for="answer1" class="mb-2">Answer</label>
                            <textarea id="answer1" cols="50" rows="7" class="form-control"></textarea>
                        </fieldset>
                    </div>

                    <div class="border-bottom mb-5">
                        <fieldset class="p-5 bg-light">
                            <div class="container">
                                <p class="mb-4 text-start text-wrap fs-4">Q2. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                                <p class="mt-4 text-end fw-bold fs-6"><em>Marks 5</em></p>
                            </div>
                            
                            <label for="answer1" class="mb-2">Answer</label>
                            <textarea id="answer1" cols="50" rows="7" class="form-control"></textarea>
                        </fieldset>
                    </div>

                    <div class="border-bottom mb-5">
                        <fieldset class="p-5 bg-light">
                            <div class="container">
                                <p class="mb-4 text-start text-wrap fs-4">Q3. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                                <p class="mt-4 text-end fw-bold fs-6"><em>Marks 5</em></p>
                            </div>
                            
                            <label for="answer1" class="mb-2">Answer</label>
                            <textarea id="answer1" cols="50" rows="7" class="form-control"></textarea>
                        </fieldset>
                    </div>

                    <div class="border-bottom mb-5">
                        <fieldset class="p-5 bg-light">
                            <div class="container">
                                <p class="mb-4 text-start text-wrap fs-4">Q4. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil magni earum sapiente molestiae error ad similique eos necessitatibus aliquid impedit ullam, ex voluptatibus laborum doloremque non, beatae hic inventore maiores?</p>
                                <p class="mt-4 text-end fw-bold fs-6"><em>Marks 5</em></p>
                            </div>
                            
                            <label for="answer1" class="mb-2">Answer</label>
                            <textarea id="answer1" cols="50" rows="7" class="form-control"></textarea>
                        </fieldset>
                    </div>
                    
                    <div class="d-grid col-6 mx-auto ">
                        <input type="submit" class="btn btn-danger" value="Submit">
                    </div>
                </form>

            </div>
        </div>
    </section>

<%- include('partials/footer.ejs') %>
