
/* body {
    background-color: #F2EFE7;
} */

#footer {
    background-color: rgb(0, 106, 113);
}

.custom-nav {
    background-color: #48A6A7!important;
    
}

.custom-nav li {
    color: white !important;
}


#footer p {
    color: white !important;
}


.correct {
    background-color: rgb(100, 212, 100);
    color: white !important;
}
